

body{
	background-color: #DEEDF0;
}

hr{
	
	width: 6%;
	height: 2px;
	border-style: none;
	border-top-style: dotted;	
	border-width: 5px;
	border-top-color: #907FA4;

}

h1{
	color: #CC9B6D;
}
h3{
	color: #CC9B6D;
}